.hj{
  height: 522px;
  width: 100%;
}

h1{
  margin-right: 300px;
  text-align: left;
}
p{
  margin-right: 300px;
  margin-bottom: px;
  text-align: left;

}
#oo{
  margin-bottom: 160px;
  margin-right: 450px;
  border-radius:  80px;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  
  
  
}
#ll{
  margin-bottom: 120px;
  margin-right: 450px;
  border-radius:  80px;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  
  
  
}
#oo:hover{
  background-color:rgb(184, 140, 220);
  transition: 0.3s;

}
#ll:hover{
  background-color:rgb(184, 140, 220);
  transition: 0.3s;

}
@media (min-width: 1000px){
p {
    font-size: 1%;
    

    
}
}



